<div class="container-fluid about-page">
  <div class="about-text">
    <h2>I have been thinking about starting a blog for a long time. But then I have been feeling doubt, do I really want to expose myself like this? Because it's going to be personal, the things I write about. I can't do it any other way. But the time has come, I'm going to try.<br><br>Since I recently have learned to build websites I actually took this opportunity to build this blog. It's designed and coded from scratch by me.</h2>
   </div>
  <div class="about-swifts">
    <h2>A blog about how it's possible to transform your life. I'm on a journey and I want to share my story. Swifts are inspiring birds to me. They are also very closely linked to my father. Except when nesting, swifts spend their lives in the air, living on the insects caught in flight; they drink, feed, and often mate and sleep on the wing.[7] Some individuals go 10 months without landing.[3] No other bird spends as much of its life in flight.(Wikipedia)<br>I guess that's inspiring to me because I would like to feel that light, that playful and that energized. To just keep on going even though you don't have to. But because you can and life has given you that opportunity.</h2>

  </div>
</div>
