<div class="container-fluid about-page">
  <div class="row">
    <%=image_tag("swifts.png", class: "col-xs-12 col-sm-12 col-md-4 col-lg-4 img-responsive img-swifts") %>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-3 col-lg-offset-3 about-text">
      <h2>I have been thinking about starting a blog for a long time. But then I have been feeling doubt, do I really want to expose myself like this? But I really like to write, and I like pictures, so I'm doing it mostly for myself. I think I'm going to enjoy it. To put things out there. And that's a great starting point for me, joy.<br><br>I have recently learned to build websites so I took this opportunity and built this blog. It's designed and coded from scratch by me.</h2>
    </div>
  </div>
  <div class="row">
    <div class=" col-xs-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 about-swifts">
      <h2>Since my father died birds are very special to me. My father loved birds, they were one of his passions in life. I don’t really know much about birds but some of his favorite birds I really feel a strong connection to, they bring me closer to him. As a child he taught me about birds and that’s just one of the many many things I'm so grateful for. My father gave me so much.<br><br><strong>Common swifts</strong> were one of his favorite birds. A swift is also engraved on his tombstone. It’s truly a very inspiring bird. No other bird spends as much of its life in flight, some individuals can go 10 months (!!!) without landing. They spend their lives in the air, living on the insects they catch in flight. They even mate and sleep on the wing. Like many birds they are migratory and this is in itself very inspiring, knowing exactly in which direction to fly, they always get to their destination, they have this inner compass, this wisdom.<br><br>For these reasons I find swifts truly inspiring. They really represent freedom to me. Freedom with a direction, which is the ideal state of being for me. 
      </h2>
    </div>
  </div>
</div>
