<h1>StaticPages#about</h1>
<p>Except when nesting, swifts spend their lives in the air, living on the insects caught in flight; they drink, feed, and often mate and sleep on the wing.[7] Some individuals go 10 months without landing.[3] No other bird spends as much of its life in flight.(Wikipedia)<br>I guess that's inspiring to me because I would like to feel that light, that playful and that energized. To just keep on going even though you don't have to. But because you can and life has given you that opportunity.</p>
