<div class="column col-xs-12 col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
  <div class="row message">
    <h3>Thank you. I have received your message and will respond as soon as possible.<br><br>Have a beautiful day.</h3>
  </div>

  <h3 class="link"> <%= link_to "Back to home", root_url %></h3>

</div><!-- end column -->


