/* line 5, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
* {
  margin: 0;
}

/* line 9, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
html, body {
  height: 100%;
}

/* line 13, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
body {
  padding-top: 50px;
}

/* line 17, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.page-wrap {
  min-height: 100%;
  margin-bottom: -100px;
  /* equal to footer height */
}

/* line 22, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.page-wrap:after {
  content: "";
  display: block;
  height: 100px;
}

/* line 28, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
h1, h2, h3 {
  font-family: Abel, Arial, sans-serif;
  text-align: center;
}

/** NAVIGATION BAR **/
/* line 35, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.navbar {
  background-color: #fffcdd;
}

/* line 39, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.navbar-inverse .navbar-nav a {
  color: #e8ca93;
  text-transform: uppercase;
  font-family: "Josefin Sans", "Titillium Web", Helvetica, Arial, Sans-serif;
  font-size: 1.4em;
  transition: color 600ms;
  -webkit-transition: color 600ms;
}

/* line 48, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.navbar-inverse .navbar-nav a:hover {
  color: #fee585;
  text-decoration: none;
  transition: color 600ms;
  -webkit-transition: color 600ms;
}

/* line 55, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.navbar-inverse .navbar-nav li a {
  color: #e8ca93;
}

/* line 59, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.navbar-inverse .navbar-nav li a:hover {
  color: #fee585;
}

/* line 63, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.navbar-inverse .navbar-nav .active a {
  background-color: #5c988a;
  color: #fee585;
}

/* line 68, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.navbar-inverse .navbar-nav .active a:hover {
  background-color: #5c988a;
  color: #fee585;
}

/* line 73, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.navbar-brand {
  float: none;
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  padding: 0px;
}

/** HEADER INDEX PAGE**/
/* line 84, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
#index-page-jumbotron {
  background-image: url("IMG-3402.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 400px;
  margin-left: -15px;
  margin-top: -15px;
  margin-right: -15px;
}

/* line 96, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.container-fluid .jumbotron {
  border-radius: 0px;
}

/* line 100, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.welcome-text {
  padding-left: 0px;
}

/* line 104, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.welcome-text h2 {
  font-family: Amaranth, Arial, sans-serif;
  color: #fee585;
  text-align: left;
  margin-top: 0px;
}

@media only screen and (max-device-width: 1024px) {
  /* line 112, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
  #index-page-jumbotron {
    height: 200px;
  }

  /* line 116, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
  .welcome-text h2 {
    font-size: 20px;
    padding-left: 10px;
  }
}
/** FOOTER **/
/* line 124, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.footer {
  height: 100px;
  background-color: #e8ca93;
}

/* line 129, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.footer p {
  color: #9a8262;
  text-align: center;
  padding-top: 28px;
  font-family: Amaranth, Arial, Sans-serif;
  font-weight: 800;
  font-size: 30px;
}

/** POSTS INDEX PAGE **/
/* line 140, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.post-column {
  padding-left: 20px;
  padding-right: 100px;
}

@media only screen and (max-device-width: 1024px) {
  /* line 146, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
  .post-column {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* line 152, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.post-title h2 {
  font-family: Amaranth, Arial, Sans-serif;
  font-weight: 800;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* line 160, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.post-img {
  padding-bottom: 15px;
  width: 640px;
}

/* line 165, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.post-subtitle p {
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
}

/* line 170, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.date-and-button {
  padding-top: 4px;
  margin-bottom: 15px;
}

/* line 175, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.post-published-at p {
  font-family: Amaranth, Arial, Sans-serif;
  font-weight: 800;
  font-size: 18px;
  display: inline-block;
}

/* line 182, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.post-published-at {
  display: inline-block;
}

/* line 186, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.button-show-post {
  display: inline-block;
  float: right;
  margin-bottom: 20px;
}

/* line 192, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.btn-default {
  background-color: #fffcdd;
  color: #9a8262;
  border-color: #9a8262;
}

/* line 198, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.btn-default:hover {
  background-color: #e4c07e;
  color: #fff;
  border-color: #9a8262;
}

/* line 204, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}

/* line 208, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em;
}

/* line 210, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.flickr_pagination .disabled {
  color: #aaaaaa;
}

/* line 212, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #17765f;
}

/* line 216, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.flickr_pagination a {
  border: 1px solid #dddddd;
  color: #f2a84d;
  text-decoration: none;
}

/* line 220, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: #003366;
  background: #f2a84d;
  color: white;
}

/* line 224, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}

/* line 227, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.flickr_pagination .previous_page, .flickr_pagination .next_page {
  border-width: 2px;
}

/* line 229, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.flickr_pagination .previous_page {
  margin-right: 1em;
}

/* line 231, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.flickr_pagination .next_page {
  margin-left: 1em;
}

/** ABOUT AND CATEGORIES COLUMN **/
/* line 236, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.about-me h2 {
  font-family: Amaranth, Arial, sans-serif;
  font-size: 30px;
  font-weight: 800;
}

/* line 242, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.about-me p {
  font-size: 18px;
  font-family: Roboto, Arial, sans-serif;
}

/* line 247, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.categories h2 {
  font-family: Amaranth, Arial, sans-serif;
  font-size: 30px;
  font-weight: 800;
}

/* line 253, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.tag_cloud {
  line-height: 1.6em;
}
/* line 255, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.tag_cloud .s {
  font-size: 0.8em;
}
/* line 256, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.tag_cloud .m {
  font-size: 1.2em;
}
/* line 257, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.tag_cloud .l {
  font-size: 1.6em;
}

/* line 260, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.btn-info {
  background-color: #f2a84d;
  border-color: #f09c35;
}

/* line 265, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.btn-info:hover {
  background-color: #17765f;
  border-color: #0e4739;
}

/* line 270, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.btn-info a:hover {
  text-decoration: none;
  background-color: transparent;
}

/* line 275, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.btn-info a:visited {
  color: #fff;
}

/** SHOW PAGE **/
/* line 282, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
#show-page-jumbotron {
  background-image: url("IMG-3566.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 400px;
  margin-left: -15px;
  margin-top: -15px;
  margin-right: -15px;
}

/* line 294, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.show-page-text h1 {
  color: #2e271d;
  margin-top: 40px;
  font-weight: 800;
}

/* line 300, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.post-published-at-show p {
  font-family: Amaranth, Arial, Sans-serif;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* line 309, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.post-body p {
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 20px;
}

/* line 316, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.tag-link a:hover {
  text-decoration: none;
  background-color: transparent;
  color: black;
}

/* line 322, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.tag-link p {
  font-family: Amaranth, Arial, sans-serif;
  font-size: 20px;
  font-weight: 800;
}

/* line 328, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.button-back-post {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

/* line 337, /home/malin/Desktop/myblog/app/assets/stylesheets/posts.scss */
.comments {
  margin-top: 90px;
}
/* line 1, /home/malin/Desktop/myblog/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  /*margin: 33px; */
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /home/malin/Desktop/myblog/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: Abel, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

/* line 16, /home/malin/Desktop/myblog/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /home/malin/Desktop/myblog/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /home/malin/Desktop/myblog/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #9a8262;
}
/* line 29, /home/malin/Desktop/myblog/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/malin/Desktop/myblog/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /home/malin/Desktop/myblog/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /home/malin/Desktop/myblog/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /home/malin/Desktop/myblog/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /home/malin/Desktop/myblog/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /home/malin/Desktop/myblog/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /home/malin/Desktop/myblog/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /home/malin/Desktop/myblog/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /home/malin/Desktop/myblog/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

