<footer class="footer">
  <div class="footer-icons">
    <a href="https://www.instagram.com/movelikeaswift/" target="_blank" class="fa fa-instagram fa-3x"></a>
    <a href="https://www.pinterest.se/ekemal/" target="_blank" class="fa fa-pinterest fa-3x"></a>
  </div>
  <p>&copy; movelikeaswift 2018</p>
</footer>