/** FOOTER **/

.footer {
  height: 120px;
  background-color: #d0e7ec;
  text-align: center;
}

.fa {
    padding: 15px;
    color: #6e9ca6;
}

.fa:hover {
    opacity: 0.7;
    color: #6e9ca6;
    background-color: transparent;
}

.fa:visited {
    opacity: 0.7;
    color: #6e9ca6;
    background-color: transparent;
}

.footer p {
  color: #6e9ca6;
  font-family: "Josefin Sans", Arial, Sans-serif;
  font-size: 26px;
  padding-top: 10px;
}