// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  padding-top: 50px;
}

.page-wrap {
  min-height: 100%;
  margin-bottom:-100px; /* equal to footer height */
}

.page-wrap:after {
  content: "";
  display: block;
  height: 100px;
}

h1, h2, h3 {
  font-family: Abel, Arial, sans-serif;
  text-align: center;
}

/** NAVIGATION BAR **/

.navbar {
  background-color: #fffcdd;
}

.navbar-inverse .navbar-nav a {
  color: #e8ca93;
  text-transform: uppercase;
  font-family: "Titillium Web", Helvetica, Arial, Sans-serif;
  font-size: 1.6em;
  transition: color 600ms;
  -webkit-transition: color 600ms;
}

.navbar-inverse .navbar-nav a:hover {
  color: #fee585;
  text-decoration: none;
  transition: color 600ms;
  -webkit-transition: color 600ms;
}

.navbar-inverse .navbar-nav li a {
  color: #e8ca93;
}

.navbar-inverse .navbar-nav li a:hover {
  color: #fee585;
}

.navbar-inverse .navbar-nav .active a {
  background-color: #5c988a;
  color: #fee585;
}

.navbar-inverse .navbar-nav .active a:hover {
  background-color: #5c988a;
  color: #fee585;
}

.navbar-brand {
  float: none;
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  padding: 0px;
}

/** HEADER INDEX PAGE**/

#index-page-jumbotron {
  background-image: url("IMG-3402.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 400px;
  margin-left: -15px;
  margin-top: -15px;
  margin-right: -15px;
}

.container-fluid .jumbotron {
  border-radius: 0px;
}

.welcome-text {
  padding-left: 0px;
}

.welcome-text h2 {
  color: #fee585;
  text-align: left;
  margin-top: 0px;
}

@media only screen and (max-device-width: 1024px) {
  #index-page-jumbotron {
    height: 200px;
  }

  .welcome-text h2 {
    font-size: 20px;
    padding-left: 10px;
  }
}

/** FOOTER **/

.footer {
  height: 100px;
  background-color: #e8ca93;
}

.footer p {
  color: #9a8262;
  text-align: center;
  padding-top: 28px;
  font-family: "Titillium Web", Helvetica, Arial, Sans-serif;
  font-weight: 800;
  font-size: 26px;
}

/** POSTS INDEX PAGE **/

.post-column {
  padding-left: 20px;
  padding-right: 100px;
}

@media only screen and (max-device-width: 1024px) {
  .post-column {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.post-title h2 {
  font-family: "Titillium Web", Arial, Sans-serif;
  font-weight: 800;
  text-align: left;
}

.post-img {
  padding-bottom: 15px;
  width: 640px;
}

.post-subtitle {
  font-family: Abel, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.date-and-button {
  padding-top: 4px;
}

.post-published-at p {
  font-family: "Titillium Web", Arial, Sans-serif;
  font-weight: 800;
  font-size: 18px;
  display: inline-block;
}

.post-published-at {
  display: inline-block;
}

.button-show-post {
  display: inline-block;
  float: right;
}

.btn-default {
  background-color: #fffcdd;
  color: #9a8262;
  border-color: #9a8262;
}

.btn-default:hover {
  background-color: #e4c07e;
  color: #fff;
  border-color: #9a8262;
}

/** SHOW PAGE **/

#show-page-jumbotron {
  background-image: url("IMG-3402.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 320px;
  margin-left: -15px;
  margin-top: -15px;
  margin-right: -15px;
}

.post-body p {
  font-family: Abel, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}