// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/** ABOUT PAGE **/

.about-page {
  background-image: url("vermont2.jpg");
  height: 800px;
}

.about-text h2, .about-swifts h2 {
  font-family: "Open Sans", Sans-serif;
  color: #413620;
  font-size: 16px;
  border-style: solid;
  border-radius: 20px;
  padding: 10px;
  background-color: #fffcdd;
  opacity: 0.7;
  border-color: #fffcdd;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-text {
  padding-top: 60px;
}

.about-swifts {
  padding-top: 40px;
}

@media (max-width: 768px) {
  .about-page {
    height: 100%;
    background-repeat: no-repeat;
  }

  .img-swifts {
    display: none;
  }

  .about-text {
    padding-top: 10px;
  }

  .about-swifts {
    padding-top: 10px;
  }
}

@media (max-width: 992px) {
  .about-page {
    height: 100%;
    background-repeat: no-repeat;
  }

  .img-swifts {
    height: 250px;
    width: 250px
  }
  
  .about-text {
    padding-top: 10px;
  }

  .about-swifts {
    padding-top: 10px;
  }
}

/** CONTACT PAGE **/

.contact-page {
  background-image: url("rose5.jpg");
  background-size: cover;
  height: 700px;
}

h2 {
  padding-top: 50px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  h2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 992px) {
  h2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.form-control {
  background-color: #f3f9fa;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: #456268;
}

.button-contactpage {
  display: block;
  margin: auto;
  text-align: center;
  width: 100px;
  border-color:  #456268;
  color: #456268;
  background-color: #f3f9fa;
  border-width: 1px;
}

/** THANK YOU PAGE **/

.message {
  margin-top: 100px;
  background-color: #f3f9fa;
  border-style: double;
  border-width: 10px;
  border-radius: 10px;
  border-color: #456256;
  color: #456256;
}

.link a:hover {
  color: #f15656;
}

@media (max-width: 768px) {
  .message {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
  }
}

@media (max-width: 992px) {
  .message {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
  }
}


